.main-body {
    padding: 10px;
    height: 100%;
    
    mat-form-field {
      width: 100%;
    }
  }
   
  mat-card mat-card-header mat-card-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  
  mat-card mat-card-actions button {
    margin: 5px;
    width: 80px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    
    label {
      font-size: 14px;
      font-weight: 500;
      color: #696969;
      padding-bottom: 10px;
      display: block;
    }
  }
  
  .col:last-child {
    margin-right: 0;
  }

  .file-input {
    display: none;
  }

.upload-btn {
    margin: 10px 0px 20px 10px;
}

.progress-bar {
    margin: 10px 10px 20px 0px;
}

.image-container {
    width: 600px; 
    height: 400px; 
    margin: 10px;
    background-color: #696969;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%; /* A imagem não será maior do que a largura da div */
    height: 100%; /* A imagem não será maior do que a altura da div */
    object-fit: cover; /* A imagem será ajustada dentro do quadrado mantendo sua proporção */
  }