<div class="main-body">
    <form [formGroup]="entityForm" novalidate (ngSubmit)="Save()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{formName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row" fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.xs="column"
            fxLayoutGap="20px" fxLayoutGap.lg="15px" fxLayoutGap.md="10px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0px">
  
            <div class="col" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
              <label>Nome</label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Descrição" formControlName="descricao">
                @if (entityForm.controls['descricao'].hasError('required')) {
                <mat-error><strong>{{requiredMessage}}</strong></mat-error>
                }
              </mat-form-field>
            </div>
          </div>
  
        </mat-card-content>
        <mat-card-actions>
          <button routerLink="{{listPage}}" mat-raised-button type="button">Cancelar</button>
          <button mat-raised-button color="primary" type="submit">Salvar</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  
