.login-form {
    padding: 20px;
}

.logo{
    background-color: #58585A;
    height: 64px;
    text-align: center;
  
    img {
      padding-top: 5px;
      height: 85%;
    }
  }

  a {
    color: gray;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
  }