.toolbar-item-spacer {
    flex: 1 1 auto;
  }
  
  .sidenav-container {
    height: 100%;

    mat-expantion-panel-header {
      height: 40px;
    }
  }
  
  .sidenav {
    width: 300px;
  
  }
    
  .menu-image{
    vertical-align: bottom;
    font-size: 22px;
    color: #696969
  }
  
  .menu-header {
    height: 40px !important;
  }

  .menu {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    color: #696969;
    padding-top: 4px;
  }
  
  .logo{
    background-color: #58585A;
    height: 64px;
    text-align: center;
  
    img {
      padding-top: 5px;
      height: 85%;
    }
  }
  
  mat-nav-list mat-nav-list a {
    height: 32px;
  }
  
  
  