.main-body {
    max-width: 1348px;
    padding: 10px;
    
    mat-form-field {
      width: 100%;
    }
  }
  
  mat-card {
    padding: 10px;
  }
  
  mat-card mat-card-header mat-card-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
  }
  
  mat-card mat-card-actions button {
    margin: 5px;
    width: 80px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    
    label {
      font-size: 14px;
      font-weight: 500;
      color: #696969;
      padding-bottom: 10px;
      display: block;
    }
  }
  
  .col:last-child {
    margin-right: 0;
  }
  